@mixin cust-btn-main-bg {
  background-color: #1b1464;
  color: white;
}

@mixin cust-btn-main-bg-inverted {
  color: #1b1464;
  background-color: white;
  border: 1px solid #1b1464;
}

@mixin cust-btn-main {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  letter-spacing: 0.2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1b1464;
}

@mixin btn-hover-effect {
  background-color: White;
  color: #1b1464;
  border: 1px solid #1b1464;
  cursor: pointer;
}

.custom-button {
  min-width: 165px;
  padding: 0 35px;
  line-height: 50px;
  @include cust-btn-main();
  @include cust-btn-main-bg();

  &:hover {
    @include btn-hover-effect();
  }

  &.isGoogleSignin {
    background-color: #e54134;
    border: 1px solid #e54134;
    &:hover {
      background-color: white;
      color: #e54134;
      border: 1px solid #e54134;
    }
  }
}
.sign-btn {
  min-width: 95px !important;
  line-height: 40px !important;
  padding: 0 15px !important;
  @include cust-btn-main();
  font-weight: bolder;

  &:hover {
    @include btn-hover-effect();
  }
}

.inverted {
  @include cust-btn-main();
  @include cust-btn-main-bg-inverted();

  &:hover {
    background-color: #1b1464;
    color: white;
  }
}
