.header {
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .logo-container {
    width: 160px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .option {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 5px 15px;
    margin-right: 15px;
  }
}
