.header {
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .logo-container {
    width: 160px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .option {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 5px 15px;
    margin-right: 15px;
  }
}
.sign-out {
  max-width: 135px;
  line-height: 40px;
  padding: 0 15px;
  background-color: #1b1464;
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  letter-spacing: 0.2rem;
  font-weight: bolder;
  border: 1px solid #1b1464;
  font-weight: bolder;

  &:hover {
    background-color: White;
    color: #1b1464;
    border: 1px solid #1b1464;
    cursor: pointer;
  }
}
