body {
  font-family: "Open Sans Condensed";
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  padding: 20px 60px;
}
.body-wrapper {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
