body {
  font-family: "Open Sans Condensed";
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);
}

.body-wrapper {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding: 20px 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
